<%- if false -%>
<script type="text/javascript">
  $('quicktags').style.display = 'none';
  $('simple_editor').style.display = 'none';
  $('visual_editor').style.display = 'block';
  $('s').className = '';
  $('f').className = 'active';
  $('text_filter').value = 'none';
  html = $('article_body_and_extended').value;
  $('simple_editor').innerHTML = '';
  if ($('carousel-wrapper')) {
    $('carousel-wrapper').style.display = 'none';
  }
  $('article__body_and_extended_editor').value = html;

</script>
<%- end -%>
<%= textarea_tag('article', 'body_and_extended', {:height => '300', :class => 'large'}) %>
<p>Internal message: Fred, do what you want in this partial…</p>
<script type="text/javascript">
  alert('oh god, I said: NO CKEDITOR');
  <%- if false -%>
  CKEDITOR.instances.article__body_and_extended_editor.setData(html);
    
  <%- end -%>

</script>
